<!DOCTYPE html>
<html>
    <head>
        <title>ORCESTRA sattracks</title>
    </head>
    <body>
        <h1>Satellite track prediction index</h1>
        {% for sat, satdata in avail.groupby("sat") %}
        <h2>Satellite: {{ sat }}</h2>
        {% for fcday, days in satdata.groupby("forecast_day") %}
        <h3>Forecast issued: {{ fcday }}</h3>
        Prediction for: {% for _, entry in days.iterrows() %}<a href="{{ entry['forecast_file'] }}">{{ entry['valid_day'] }}</a> {% endfor %}
        {% endfor %}
        {% endfor %}
    </body>
</html>
