<!DOCTYPE html>
<html>
    <head>
        <title>ORCESTRA sattracks</title>
    </head>
    <body>
        <h1>Satellite track prediction index</h1>
        {% for sat, satdata in avail.sort_values(["sat", "forecast_day", "valid_day", "kind"], ascending=[True, False, True, True]).groupby("sat", sort=False) %}
        <h2>Satellite: {{ sat }}</h2>
        {% for fcday, days in satdata.groupby("forecast_day", sort=False) %}
        <h3>Forecast issued: {{ fcday }}</h3>
        Prediction for: {% for day, kinds in days.groupby("valid_day", sort=False) %}{{ day }}: {% for _, entry in kinds.iterrows() %}<a href="{{ entry['forecast_file'] }}">{{ entry['kind'] }}</a> {% endfor %} {% endfor %}
        {% endfor %}
        {% endfor %}
    </body>
</html>
